---
layout: default
---
  <div class="fixed top-0 right-0 px3 py2 nav-item">
    <span class="caps" style="padding-right:1.5vw;"><a href="/#about">About</a></span>
    <span class="caps" style="padding-right:1.5vw;"><a href="/#values">Values</a></span>
    <span class="caps" style="padding-right:1.5vw;"><a href="/#contact">Contact</a></span>
    <span class="caps" style="padding-right:1.5vw;text-decoration: underline;"><a href="http://blog.scatterlab.org/">Blog</a></span>
  </div>

    <div class="fixed top-0 left-0 px3 py2 logo">
    <span class="caps" style="padding-right:1.5vw;"><a style="color:#2F1847;" href="http://www.scatterlab.org/">Skatterlab</a></span>
  </div>
{{content}}